@import 'tailwindcss';
@plugin "./heroui.ts";
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> b1b0777 (feat(course-card): enhance CourseCard and CardCourses components for improved layout and functionality)
    'Poppins', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --color-primary: #ff7031;
  --color-secondary: #ffa500;
  --color-tertiary: #f7f0e5;
  --color-light: #ffe6db;
  --color-dark-light: #662d14;
  --color-dark: #191918;
<<<<<<< HEAD
=======
    'Poppins', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --color-brand: #ffaa00;
  --color-brand-secondary: #ff7031;
>>>>>>> 1ef1c43 (style: unify quote style in various files)
=======
>>>>>>> b1b0777 (feat(course-card): enhance CourseCard and CardCourses components for improved layout and functionality)
}
