@import 'tailwindcss';
@plugin "./heroui.ts";
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
    'Poppins', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --color-brand: #FF7031;
  --color-brand-secondary: #FFA500;
  --color-brand-tertiary: #F7F0E5;
  --color-dark: #191918;
}
